<footer class="footer p-3 row navbar-static-bottom">
    <div class="container text-center text-md-left footer-content">
        <div class="row d-flex justify-content-around">
            <a href="https://www.facebook.com/csivitu" target="_blank" rel="noopener noreferrer"><img src="/static/images/facebook-logo.png"
                    class="footer-img" ></a>
            <a href="https://twitter.com/csivitu" target="_blank" rel="noopener noreferrer"><img src="/static/images/twitter2.png"
                    class="footer-img" ></a>
            <a href="https://www.instagram.com/csivitu/" target="_blank" rel="noopener noreferrer"><img src="/static/images/instagram2.png"
                    class="footer-img" ></a>
            <a href="https://csivit.com" target="_blank" rel="noopener noreferrer"><img src="/static/images/@csivitu.png"
                    class="footer-img" ></a>
        </div>
    </div>
</footer>