<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <link rel="icon" href="/static/images/favicon.png">

    <title>Your CSI-VIT Account</title>

</head>

<body>
    <div class="backgroundImage"></div>
    <div class="container-fluid">
        <nav class="row py-3 px-5 navbar-expand blue-navbar navbar-static-top">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link white-text" href="https://csivit.com">HOME</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link white-text" href="#">EVENTS</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item mr-4">
                    <a class="nav-link white-text" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link white-text" href="/register">REGISTER</a>
                </li>
            </ul>
        </nav>

        <div class="row main-row">
            <div class="col-md-5 col-xs-5 col-sm-5 m-auto d-flex justify-content-center">
                <div class="left-column d-flex flex-column justify-content-around">
                    <div>
                        <a href="https://csivit.com"><img class="img-fluid logo" alt="Responsive image"
                                src="/static/images/CSIDark.png"></a>
                    </div>
                    <div class="title text-wrap font-weight-bold">
                        ONE ACCOUNT,<br>
                        ALL OF CSI-VIT.
                    </div>
                    <div class="subtitle text-wrap mt-3">
                        Sign up once, login anywhere. Use this account for all<br> future logins, on any device at
                        any time.
                    </div>
                </div>
            </div>


            <div class="col-md-7 col-xs-7 col-sm-7 m-auto">
                <div class="reg-card ml-5 card p-4">
                    {{#if valid}}
                    <div class="card-title"><strong>RESET YOUR PASSWORD</strong></div>
                    <div class="card-body px-5">
                        <form id="login-form" class="login-form-1" method="POST" onsubmit="return validate()">

                            <div class="input-group py-1">
                                <label for="lg_password" class="sr-only">New Password</label>
                                <input type="password" class="form-control" id="lg_password" name="password"
                                    placeholder="New Password" maxlength="70" required>
                            </div>

                            <div class="input-group py-1">
                                <label for="retype_password" class="sr-only">Retype Your Password</label>
                                <input type="password" class="form-control" id="retype_password" name="retype_password"
                                    placeholder="Retype Your Password" maxlength="70" required>
                            </div>

                            <div class="submit-button-container text-center mt-4">
                                <input type="submit" class="btn mt-2 submit-button px-4" value="SUBMIT" />
                            </div>

                            <div class="text-center form-message mt-3">
                                Came here by mistake? <a href="/login">Log in</a>.
                            </div>
                        </form>
                        {{else}}
                        <div class="card-title"><strong>INVALID RESET PASSWORD LINK</strong></div>
                        <div class="card-body px-5">
                            <div class="text-center form-message mt-3">
                                The reset link is invalid, please verify the link with the one sent on your email inbox.
                                <br><br>Need help? <a href="mailto:askcsivit@gmail.com">Contact us</a>.
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="row p-5 footer-bottom d-none"></div>
            </div>
        </div>
        <footer class="footer p-3 row navbar-static-bottom">
            <div class="container text-center text-md-left footer-content">
                <div class="row d-flex justify-content-around">
                    <a href="https://www.facebook.com/csivitu" target="_blank" rel="noopener noreferrer"><img
                            src="/static/images/facebook-logo.png" class="footer-img"></a>
                    <a href="https://twitter.com/csivitu" target="_blank" rel="noopener noreferrer"><img
                            src="/static/images/twitter2.png" class="footer-img"></a>
                    <a href="https://www.instagram.com/csivitu/" target="_blank" rel="noopener noreferrer"><img
                            src="/static/images/instagram2.png" class="footer-img"></a>
                    <a href="https://csivit.com" target="_blank" rel="noopener noreferrer"><img
                            src="/static/images/@csivitu.png" class="footer-img"></a>
                </div>
            </div>
        </footer>
    </div>
</body>

<script>
    function validate() {
        let message = '';
        let cardTitle = '';
        if ($("#lg_password").val() === $("#retype_password").val()) {
            $.ajax({
                url: '/recovery/resetPassword',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    token: '{{token}}',
                    password: $('input[name=\'password\']').val(),
                }),
            }).done((response) => {
                    if (response.success) {
                        message = `<div class="text-center form-message mt-3">
                            Your password has been reset!<br>
                            You will be redirected to the login page in a few seconds.<br><br>
                            If not, you may log in <a href="/login">here</a>.
                        </div>`;
                        cardTitle = '<div class="card-title"><strong>PASSWORD RESET SUCCESSFULLY!</strong></div>'
                        $('.card-body').replaceWith(message);
                        $('.card-title').replaceWith(cardTitle);
                        setTimeout(() => {
                            window.location.href = '/auth/login';
                        }, 7000);
                    } else {
                        message = `<div class="text-center form-message mt-3">
                            Your password could not be reset due to some unknown error.<br><br>
                            <a href="mailto:askcsivit@gmail.com">Contact us</a>.
                        </div>`;
                        cardTitle = '<div class="card-title"><strong>PASSWORD NOT RESET</strong></div>'
                        $('.card-body').replaceWith(message);
                        $('.card-title').replaceWith(cardTitle);
                    }
                });
        } else {
            alert('Passwords do not match!');
        }
        return false;
    }
</script>

</html>
